/* -------------- BAG -------------- */
.bag-summary-container {
	display: grid;
	grid-template-columns: auto minmax(0, 850px) auto;
	margin-top: 70px;
}

.bag-amount-checkout-button {
	grid-column-start: 2;
	grid-column-end: 3;
	margin-bottom: 30px;
}

.bag-amount-checkout-button button {
	border: none;
	background: none;
	cursor: pointer;
	background-color: #0071e3;
	border-radius: 12px;
	color: #fff;
	font-size: 17px;
	line-height: 1.17648;
	font-weight: 400;
	letter-spacing: -0.022em;
	text-align: center;
	width: 100%;
	max-width: 408px;
	height: 55px;
}

.bag-amount-checkout-button button:hover {
	background-color: #2881da;
}

.bag-amount-checkout-button button:active {
	background-color: #0071e3;
}

.bag-summary {
	grid-column-start: 2;
	grid-column-end: 3;
	display: grid;
	grid-template-rows: minmax(310px, 0px);
	grid-auto-rows: minmax(310px, 0px);
}

.bag-one-product {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	border-radius: 18px;
	border: 2px solid rgb(238, 238, 238);
	width: 100%;
	margin-bottom: 20px;
}

.bag-one-product-name {
	grid-column-start: 2;
	grid-column-end: 3;
	justify-self: center;
	align-self: center;
	font-weight: 600;
}

.bag-one-product-price-quantity {
	grid-column-start: 3;
	grid-column-end: 4;
	justify-self: center;
	align-self: center;
}

.bag-one-product img {
	height: 225px;
	grid-column-start: 1;
	grid-column-end: 2;
}

.quantity-change {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.quantity-change button {
	justify-self: center;
	align-self: center;
	height: 50%;
	border: 0px solid #e9e9ec;
	border-radius: 12px;
	background: none;
	cursor: pointer;
	font-size: 1rem;
	line-height: 1.17648;
	font-weight: 400;
	letter-spacing: -0.022em;
	text-align: center;
}

.bag-one-product-price-quantity button {
	border: 0px;
	background: none;
	cursor: pointer;
	font-size: 1rem;
	line-height: 1.17648;
	font-weight: 400;
	letter-spacing: -0.022em;
	text-align: center;
}

@media only screen and (max-width: 512px) {
	.bag-one-product {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto;
		padding-bottom: 15px;
	}

	.bag-one-image {
		grid-column-start: 1;
		grid-column-end: 4;
		grid-row-start: 1;
		grid-row-end: 2;
	}

	.bag-one-product-name {
		grid-column-start: 1;
		grid-column-end: 4;
		grid-row-start: 2;
		grid-row-end: 3;
	}

	.bag-one-product-price-quantity {
		grid-column-start: 1;
		grid-column-end: 4;
		grid-row-start: 3;
		grid-row-end: 4;
	}
}
