/* -------------- HEADER -------------- */
.nav-container {
	background-color: #333333;
	height: 48px;
	position: sticky;
	top: 0;
	right: 0;
	left: 0;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav {
	color: #dddddd;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 48px;
	width: 950px;
}

.nav-home {
	height: 100%;
	display: flex;
	align-items: center;
}

.nav-home img {
	height: 60%;
}

.nav-bag {
	height: 100%;
	display: flex;
	align-items: center;
}

.nav-bag img {
	height: 55%;
}

.bag-quantity {
	border-radius: 50%;
	height: 25px;
	width: 25px;
	border: 2px solid;
	background-color: #d6d5d8;
	text-decoration: none;
	color: #333333;
	font-weight: bold;
}

.bag-quantity-zero {
	visibility: hidden;
}

.nav-profile {
	height: 100%;
	display: flex;
	align-items: center;
}

.nav-profile img {
	height: 50%;
}

.nav-search {
	height: 100%;
	display: flex;
	align-items: center;
}

.nav-search img {
	height: 50%;
}

.nav-mac,
.nav-iphone,
.nav-ipad,
.nav-others,
.nav-login,
.nav-logout,
.nav-register,
.nav-home,
.nav-bag:visited {
	text-decoration: none;
	color: #dddddd;
}
