/* -------------- SUBCATEGORY PRODUCT PAGE -------------- */

.product-page-container {
	display: grid;
	grid-template-columns: auto 950px auto;
	margin-top: 70px;
}

.subcategory-page {
	grid-column-start: 2;
	grid-column-end: 3;
}

.subcategory-page-products-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 310px;
	grid-auto-rows: 310px;
	grid-gap: 15px;
	margin-bottom: 20px;
}

.subcategory-product-container {
	border-radius: 18px;
	background-color: #ffffff;
}

.subcategory-product {
	padding: 5px;
	width: 100%;
}

.subcategory-product-image img {
	height: 225px;
}

.add-to-bag-button button {
	border: none;
	background: none;
	cursor: pointer;
	background-color: #0071e3;
	border-radius: 12px;
	color: #fff;
	font-size: 17px;
	line-height: 1.17648;
	font-weight: 400;
	letter-spacing: -0.022em;
	text-align: center;
	width: 100%;
	height: 55px;
	border: 2px solid #e9e9ec;
}

.add-to-bag-button button:hover {
	background-color: #2881da;
}

.add-to-bag-button button:active {
	background-color: #0071e3;
}
